
/* Your CSS Code here. */
table {
	border-collapse:collapse;
	width: 70%;
	margin: 20px auto;
}
thead th {
	background-color: #b71c1c;
	color: white;
	padding: 10px;
}
tbody td {
	padding: 10px;
	text-align: center;
}
tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}
tbody tr:nth-child(even) {
	background-color: #ffffff;
	
}
tbody th {
	background-color: #d32f2f;
	color: white;
	padding: 10px;
	text-align: left;
}
table, th, td{
	border: 1px solid #ccc;
}
